<ul class="grid rows-6 cols-8">
  <li class='row-1 col-1 width-2 height-2'>
    <div data-id="milestone" data-view="Meter" id='milestone'></div>
  </li>
  <li class='row-3 col-1'>
    <iframe src='<%= ENV['METRICS_API_BASE_URL'] %>metrics/github-open-issue-count?type=number&layout=bare&boxcolour=D60303&textcolour=fff&autorefresh=60' style='border:none; width: 100%; height: 100%; overflow: hidden'></iframe>
  </li>
  <li class='row-3 col-2'>
    <iframe src='<%= ENV['METRICS_API_BASE_URL'] %>metrics/github-open-pull-requests?type=number&layout=bare&boxcolour=FF6700&textcolour=fff&autorefresh=60' style='border:none; width: 100%; height: 100%; overflow: hidden'></iframe>
  </li>
  <li class='row-4 col-1'>
    <div class='small' data-id="external-pulls" data-view="Number" data-title="<%= t 'tech.ex_prs' %>" id='external-prs' data-tooltip="<%= t 'tech.tips.ex_prs' %>"></div>
  </li>
  <li class='row-4 col-2'>
    <div class='small' data-id="external-pulls-merged" data-view="Number" data-title="<%= t 'tech.ex_prs_merged' %>" id='external-merged' data-tooltip="<%= t 'tech.tips.ex_prs_merged' %>"></div>
  </li>
  <li class='row-5 col-1 width-2 height-2'>
    <div data-id="twitter_mentions" data-view="Comments" data-title="<%= t 'tech.mentions' %>" id='twitter-mentions' data-tooltip="<%= t 'tech.tips.mentions' %>"></div>
  </li>
  <li class='row-1 col-3 width-4 height-6'>
    <div data-id="travis-builds" data-view="Travis" data-unordered="true" data-title="<%= t 'tech.build_status' %>" id='build-status' data-tooltip="<%= t 'tech.tips.build_status' %>"></div>
  </li>
  <li class='row-1 col-7 width-2 height-2'>
    <div data-id="travis-build-image" data-view="Image" data-unordered="true" id='build-image'></div>
  </li>
  <li class='row-3 col-7 width-2 height-3'>
    <div data-id="dependencies" data-view="Pie" data-title="<%= t 'tech.dependencies' %>" id="dependencies" data-tooltip="<%= t 'tech.tips.dependencies' %>"></div>
  </li>
  <li class='row-6 col-7 width-1 height-1'>
    <div class='small' data-id="dependency-alerts" data-view="Number" data-title="<%= t 'tech.dependency-alerts' %>" id="dependency-alerts" data-tooltip="<%= t 'tech.tips.dependency-alerts' %>"></div>
  </li>
  <li class='row-6 col-8 width-1 height-1'>
    <iframe src='<%= ENV['METRICS_API_BASE_URL'] %>metrics/application-errors?type=number&layout=bare&boxcolour=D60303&textcolour=fff&autorefresh=60' style='border:none; width: 100%; height: 100%; overflow: hidden'></iframe>
  </li>
</ul>
